footer
    script(src='./js/bootstrap.bundle.min.js')
    hr
    
    <div class="container-fluid">
        <div class="row">
            <div class="row-cols-2 row">
                <div class="col">We are using Node.js 
                    <span id="node-version">16.17.1</span>, Chromium 
                    <span id="chrome-version">108.0.5359.62</span>, and Electron 
                    <span id="electron-version">22.0.0</span>.
                </div>
            </div>
        </div>
    </div>